<div class="my-5 timeline pb-5 pt-4" id="timeline">
    <div class="container">
        <h3>our timeline</h3>
        <div class="row">
            <!-- Year tabs -->
            <div class="col-md-3">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
                    {% for item in site.data.timeline %}
                    <button class="nav-link {% if item.active %}active{% endif %}" data-bs-toggle="pill"
                        data-bs-target="#v-{{ item.year }}" type="button" role="tab"
                        aria-selected="{% if item.active %}true{% else %}false{% endif %}">
                        <div class="my-auto {% if item.active %}active-year{% endif %}">{{ item.year }}</div>
                    </button>
                    {% endfor %}
                </div>
            </div>

            <!-- Timeline content -->
            <div class="tab-content col-md-9 position-relative">
                {% for item in site.data.timeline %}
                <div class="tab-pane fade {% if item.active %}show active{% endif %} {{item.template}}" id="v-{{item.year}}">
                    <div class="content">
                        {% if item.template == "timeline-template-1" %}
                        {% assign block = item.content[0] %}
                        <div class="img-container">
                            <img src="{{ block.src }}" alt="">
                        </div>
                        {{ block.text | markdownify }}
                        <div class="img-container rounded-3">
                            <img src="{{ block.extra_src }}" alt="">
                        </div>


                        {% elsif item.template == "timeline-template-2" %}
                        {% for block in item.content %}
                        {% if block.images %}
                        <ul>
                            {% for img in block.images %}
                            <li>
                                <div
                                    class="img-container {% if forloop.last %}rounded-4 p-0 overflow-hidden{% endif %}">
                                    <img src="{{ img }}" alt="" {% if forloop.first %}width="113" {% endif %} {% if
                                        forloop.last %}width="130" {% endif %}>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% elsif block.text %}
                        {{ block.text | markdownify }}
                        {% elsif block.extraImages %}
                        <ul>
                            {% for img in block.extraImages %}
                            <li>
                                <div class="img-container">
                                    <img width="180" src="{{ img }}" alt="">
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %}

                        {% elsif item.template == "timeline-template-3" %}
                        {% assign block = item.content[0] %}
                        <div class="img-container">
                            <img width="120" src="{{ block.src }}" alt="">
                        </div>
                        {{ block.text | markdownify }}

                        {% elsif item.template == "timeline-template-4" %}
                        {% assign block = item.content[0] %}
                        <div class="img-container">
                            <img width="245" src="{{ block.src }}" alt="">
                        </div>
                        {{ block.text | markdownify }}

                        {% elsif item.template == "timeline-template-5" %}
                        {% assign block = item.content[0] %}
                        {{ block.text | markdownify }}
                        <div class="img-container">
                            <img width="245" src="{{ block.src }}" alt="">
                        </div>
                        {% else %}
                        <div class="img-container">
                            <img width="210" src="{{ item.content.image }}" alt="">
                        </div>
                        {{ item.content.text | markdownify }}

                        {% if item.content.extraImage %}
                        <div class="img-container rounded-3">
                            <img width="160" src="{{ item.content.extraImage }}" alt="">
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>